* {
    padding: 0px;
    margin: 0px;
}

body {
    background: url('./bg.jpeg');
    color: #fffbeb;
}

nav {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 40px;

    background: #422006;
}

button {
    width: 50px;
    height: 40px;
}

.homeContainer,
.menuContainer,
.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #a1620760;

    width: 60%;
    border-radius: 15px;
    padding: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}